body {
  background-image: url(../../assets/img/back-stylé0.png);
}

/* ------------------------------------ */
/* --------------HEADER---------------- */
/* ------------------------------------ */
header {
  background: var(--white);
}

/* ---------Navbar du menu Burger------- */
#side-bar {
  position: fixed;
  width: 280px;
  height: 100%;
  background-color: var(--violetdark);
  top: 0;
  left: -300px;
  transition: 0.5s ease-in-out;
  z-index: 11;
}

.toggle-button {
  position: absolute;
  top: 30px;
  left: 310px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.toggle-button span {
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--orange2);
  display: block;
  margin-top: 4px;
  transition: 0.5s ease;
}

.deux {
  text-transform: uppercase;
  color: var(--orange2);
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
}
.deux:hover {
  background-color: var(--vertbleu);
  color: var(--white);
}

#side-bar.active {
  left: 0;
}
#side-bar.active .toggle-button {
  left: 290px;
}
#side-bar.active span {
  position: absolute;
}
#side-bar.active span:nth-child(1) {
  transform: rotate(45deg);
}
#side-bar.active span:nth-child(2) {
  opacity: 0;
}
#side-bar.active span:nth-child(3) {
  transform: rotate(-45deg);
}

#side-bar.active ~ main {
  filter: brightness(50%);
}

/* ------Navigation-------- */

/* -------Container-------- */
.navbar1 {
  margin-top: 50px;
  display: flex;
  gap: 160px;
  height: 110px;
  align-items: center;
  font-size: 0.8rem;
}
/* ------Container UL------- */
nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
}
/* -------Liste--------------- */
.un {
  padding: 8px;
}
.un a {
  text-decoration: none;
  color: var(--black);
}
.un a:hover {
  color: var(--vertbleu);
}

.un a .space {
  margin-left: 20px;
}

.menu-btn {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 30px;
  z-index: 2;
  display: none;
  color: var(--bleuturq);
}

#compte {
  margin-left: 0;
  color: var(--vertbleu);
}

/* ----PORTRAIT DU PROFILE------ */
.portrait {
  margin-top: -11px;
  background-color: var(--orange2);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* -----LOGO Campus du Lac------ */
.logo img {
  width: 150px;
  margin-left: 10px;
}
#contact {
  position: absolute;
  right: 60px;
  display: flex;
  gap: 8px;
  margin-top: -115px;
}

/* -----------BOUTONS CONTACT---------- */
.candidature span {
  margin-left: 130px;
}
.candidature {
  width: 340px;
}
.contact1 span {
  margin-left: 50px;
}
.contact1 {
  width: 150px;
}
.candidature,
.contact1 {
  font-size: 1rem;
  height: 40px;
  border: none;
  border-radius: 50px;
  color: var(--white);
  background-color: var(--vertbleu);
}

#contact button:hover {
  background: var(--violetdark);
  transition: 1s;
}

/* ------------------------------------- */
/* -----------------MAIN-------------------- */
/* ------------------------------------- */
main {
  transition: 0.2s;
}
.compteContainer {
  background-color: var(--black);
  text-align: center;
  margin: 0 auto;
  width: 990px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 30px;
}

/* ------Header container-------- */
.gridHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.photoProfile {
  background-color: var(--orange2);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
}
.photoProfile:hover {
  background-color: var(--orangeclaire);
}

.photoProfile img {
  margin-top: 50px;
  width: 50%;
}

.formulaire {
  margin: auto 0;
}
.formulaire input {
  width: 350px;
  height: 40px;
  border-radius: 20px;
  border: none;
  margin-bottom: 5px;
}

#choixMultiple {
  width: 350px;
  height: 40px;
  border-radius: 20px;
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
}

textarea {
  height: 230px;
  border-radius: 10px;
}

.enregistrer {
  grid-column: 3;
  background-color: var(--orange2);
  color: var(--white);
  border-radius: 20px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.enregistrer:hover {
  background-color: var(--orangeclaire);
}

/* ---------Transition----------- */
.transition {
  display: flex;
  align-items: center;
  gap: 5px;
}
.transition p {
  font-size: 11px;
  color: var(--white);
  margin-bottom: 10px;
}
.traitBlanc {
  background-color: var(--white);
  width: 845px;
  height: 1.5px;
  margin-top: -3px;
}

/* ---------Projet et Ajout de Projets------- */
.projets {
  display: flex;
  gap: 20px;
}
.projet1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url(../../assets/img/miniatures/min05.png);
  
}
.projet1,
.ajouterUnProjet {
  cursor: pointer;
  background-color: var(--orange2);
  width: 250px;
  height: 100px;
  padding: 10px;
  border-radius: 15px;
}
.projet1:hover,
.ajouterUnProjet:hover {
  background-color: var(--orangeclaire);
}
.projet1,
h4,
p {
  text-align: start;
}
.titre4 {
  font-size: 13px;
}
.p-au-hover {
  grid-column: span 2;
  font-size: 10px;
  margin-top: 20px;
}

.time {
  grid-column: 2;
  margin-left: 45px;
  font-size: 11px;
  width: 75px;
}

.ajouterUnProjet img {
  width: 50px;
  height: 50px;
}
.ajouterUnProjet p {
  text-align: center;
  margin-top: 5px;
}

/* ------Bouton de supprétion du compte----- */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1000px;
  margin: 0 auto;
}
.supprimer {
  grid-column: 5;
  background-color: var(--brique);
  color: white;
  width: 200px;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 5px;
  border-radius: 20px;
  cursor: pointer;
}
.supprimer:hover {
  background-color: var(--black);
  color: var(--brique);
  border: 1px solid var(--brique);
}

/* -------------------------------- */
/* --------------FOOTER------------------ */
/* -------------------------------- */
.footer {
  width: 100%;
  margin-top: auto;
  align-self: flex-end;
  padding: 63px 0;
  position: relative;
  z-index: 800;
  background-color: var(--black);
  color: var(--white);
}

h5 {
  margin-bottom: 25px;
}
.footer__inner {
  display: flex;
  margin-top: 50px;
  padding: 50px;
  justify-content: space-around;
}
.footer__inner a {
  text-decoration: none;
}
.logo-footer img {
  margin-top: -70px;
  height: 130px;
}

.espaceAvecLeLogo {
  margin-top: 15px;
}

.block-footer-contact h6 {
  font-size: 1.1rem;
  margin-top: -30px;
  margin-bottom: 70px;
}

#mail {
  position: absolute;
}
.carte {
  margin-top: 10px;
  height: 30px;
  width: 170px;
  border-radius: 50px;
  border: none;
}

.paiement {
  justify-content: space-around;
  margin-top: 30px;
  position: relative;
}
.CB {
  top: 16px;
  left: 10px;
  position: absolute;
  min-height: 15px;
  width: 20px;
}
.carte:hover {
  color: var(--white);
  background-color: var(--bleuturq);
}

/* ---------------------------------------- */
/* -----------------MEDIA QUERIES-------------- */
/* ---------------------------------------- */

/* -----------------Bouton berger----------------------- */

@media (min-width: 920px) {
  .toggle-button span {
    display: none;
  }
}

@media (max-width: 920px) {
  /* ---------HEADER---------- */
  .menu-btn {
    display: none;
  }

  .navbar1 {
    display: none;
  }

  .disparait,
  .space,
  .portrait {
    display: none;
  }

  /* --------MAIN--------- */
  .compteContainer {
      margin-left: -18px;
      padding: 40px;
}
  
  
  .formulaire {
    grid-column: 1;
    width: 200px;
  }

  textarea {
    grid-column: 1;
    width: 353px;
  }

  .traitBlanc {
    width: 265px;
  }

  .ajouterUnProjet {
    width: 350px;
  }

  .projet1 {
    margin-bottom: 20px;
    width: 350px;
  }
  .enregistrer {
    grid-column: 1;
    margin-bottom: 10px;
  }
  .projets {
    display: block;
  }
  .supprimer {
    grid-column: 1;
    width: 375px;
  }

  /* ------------footer---------- */
  .footer {
      width: 100%;
  }
  
  .footer__inner {
    display: block;
  }

  .CB {
    margin-left: 1px;
    height: 15px;
    width: 20px;
  }

  h5 {
    margin-top: 30px;
    margin-bottom: 8px;
  }
}
